#clockContainer{
    position: relative;
    margin: auto;
    border:2px solid red ;
    background-color: aqua;
    height: 40vw;
    width: 40vw;
    background: url(analog-clock-png.jpg) no-repeat;
    background-size: 100%;
}
#hour, #minute , #second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 2.5%;
    height: 20%;
    top: 30%;
    left: 49.1%;
    opacity: 10;   
}
#minute{
    width: 2%;
    height: 32%;
    top: 19.5%;
    left: 49.49%;
    opacity: 0.8;
}
#second{
    width: 1.5%;
    height: 37.5%;
    top: 13%;
    left: 49.6%;
    opacity: 10;
}